.experience .slick-prev:before, .experience .slick-next:before,
.courses .slick-prev:before, .courses .slick-next:before  {
  color: black;
}

.avatar.avatar-me {
  height: 16rem;
  width: 12rem;
  background-color: transparent;
}

#courses .modal-content {
  background-color: transparent;
  box-shadow: none;
}

#courses .modal-content .modal-body {
  padding:  0;
  overflow-y: none;
  max-height: 60vh;
}